.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $black-color;

    &__container {
        display: flex;
        align-items: baseline;
    }
}

.footer-location {
    flex-grow: 1;
    &__link {
        font-style: normal;
        line-height: 1.17;
        text-decoration: none;
        color: $opacity-color;
    }
        &__logo,
        &__address {
            font-style: normal;
            color: $fourth-color;
        }
            &__item {
                margin-bottom: 9px;
            }
            &__item:last-child {
                margin-bottom: 0;
            }
}



.footer-networks {
    margin-left: 70px;
        &__block {
            display: flex;
        }
        &__item:last-child {
            margin-right: 0;
        }
        &__item {
            width: 44px;
            height: 44px;
            text-align: center;
            margin-right: 10px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%; 
        }
        &__item:hover,
        &__item:focus {
            background-color: $brand-color;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
            &__icon {
                position: relative;
                top: 12px;
                fill: $fourth-color;
            }
}

.footer-form {
    margin-left: 93px;
    &__wrap {
        display: flex;
    }
        &__input {
            width: 343px;
            height: 46px;
            font-size: 16px;
            line-height: 1.2;
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: $fourth-color;
            border-radius: 4px;
            background: transparent;
            padding-left: 15px;
        }

            &__button {
                @include btn-style;
                display: inline-flex;
                justify-content: center;
                font-size: 16px;
                line-height: 1.8;        
                border: 0px;
                background-color: rgb(33, 150, 243);
                margin-left: 12px;
            }
            &__button:hover,
            &__button:focus {
                background-color: $btn-hover;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
                &__span {
                    width: 24px;
                    height: 24px;
                    margin-left: 10px;
                }


}