.container__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;  
}
.nav {
    display: flex;  
}

.logo__link {
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: $secondary-color;
}

.logo__span {
    color: $brand-color;
}

.imform-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.menu {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 93px;
    &__item {
        margin-right: 50px;
    }
    &__item:last-child {
        margin-right: 0px;
    }

    &-item__studio::after {
        content: '';
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: -25px;
        width: 48px;
        height: 4px;
        background: $brand-color;
        border-radius: 2px;
    }
    &__item--portfolio::after {
        content: '';
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: -25px;
        width: 78px;
        height: 4px;
        background: $brand-color;
        border-radius: 2px;
    }

    & &__link:hover,
    & &__link:focus {
        color: $brand-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link--active {
        color: $brand-color;
    }
}


.content {
    display: flex;
    align-items: center;

    &__item  {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    &__item:first-child {
        margin-left: 0px;
        
    }
        &__icons {
            margin-right: 10px;
            fill: $tripartite-color;
            &__icons:hover,
            &__icons:focus {
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
            &__link {
                color: $tripartite-color;
            }
        & &__link:hover,
        & &__link:focus {
            color: $brand-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
            

        &__item:hover &__icons,
        &__item:focus &__icons {
            fill: $brand-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.button-menu {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 3;
}

.button-menu .icon-menu {
    display: none;
}

.menu-conteiner.is-open {
    z-index: 2;
    
  }

.button-menu.is-open .icon-menu {
    
    display: block;
  
}

.button-menu.is-open .icon-cross {
    display: none;
}

.menu-conteiner {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    background-color: #fff;

    &.is-open {
        display: block;
    }

    &__block {
        margin-bottom: 300px;
    }
    &__item {
        margin-bottom: 32px;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__item-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1;
        text-align: left;
        letter-spacing: 0.02em;
        color: #212121;
    }


    &__item-link:hover,
    &__item-link:focus {
        color: #2196F3;
    }

    .menu-conteiner__contacts {
        margin-bottom: 64px;
    }
    .menu-conteiner__phone {
        margin-bottom: 32px;
    }
    
    .menu-conteiner__phone-link, 
    .menu-conteiner__mail-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #757575;
    }
    .menu-conteiner__phone-link {
        color: #2196F3;
    }

    .menu-conteiner__phone-link:hover, 
    .menu-conteiner__mail-link:focus {
        color: #2196F3;
    }

    .menu-conteiner__network {
        display: flex;
        justify-content: space-between;
    }

    .menu-conteiner__social{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .menu-conteiner__network-link {
        color: #2196F3;
    }

  }
  .act {
    color:#2196F3;
}
  @media screen and (max-width: 1200px) {
    .content {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0px;
    }
    .content__item {
        margin-bottom: 10px;
        margin-left: 0px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .container__nav {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {

    .menu {
        display: none;
    }

    .content {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .button-menu {
        display: block;
    }
}

