.рeculiarities {
    &__block {
        display: flex;
        justify-content: space-between;
        }
        &__item {
            width: 270px;
            }
            &__img {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 120px;
                background: $grey-color;
                text-align: center;
                border-radius: 4px;
                }
                &__title {
                    margin-top: 30px;
                    margin-bottom: 10px;
                    line-height: 1.15;
                    text-transform: uppercase; 
                }
                &__text {
                    line-height: 1.7;
                    color: $tripartite-color;
                }
}


@media screen and (max-width: 1200px) {
    .рeculiarities__block {
        display: flex;
        flex-wrap: wrap;
      
    }
    

    .рeculiarities__item {
        width: 50%;
        flex-basis: calc(50% - 15px);
        margin-top: 30px;
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .рeculiarities__title {
        font-size: 14px;
    }
    .рeculiarities__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .рeculiarities__item {
        width: 100%;
        flex-basis: auto;
        margin-top: 30px;
        margin-left: 0;
    }
    .рeculiarities__title {
        text-align: center;
    }
    .рeculiarities__text {
        text-align: center;
    }
}

