@mixin btn-style{
    min-width: 200px;
    min-height: 50px;
    align-items: center;
    text-align: center;
    letter-spacing: .06em;
    color: $fourth-color;
    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0,0,0,.15);
    border-radius: 4px;
    cursor: pointer;
  }

