    $brand-color: #2196F3;
    $secondary-color: #212121;
    $tripartite-color: #757575;
    $fourth-color: #ffffff;
    $black-color: #2F303A;
    $opacity-color: #ffffff99;
    $grey-color: #f5f4fa;
    $btn-hover: #188CE8;
    $border-color: #eeeeee;
    $icon-color: #AFB1B8;
    $card-set-gap: 30px;
    $header-color: #ececec
